// ::ng-deep {
  .legend-block {
    //border: 1px solid black;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
  }

  .legend {
    background-color: white;
    padding: 10px;
  }

  .title {
    background-color: white;
    padding: 8px;
    opacity: 0.8;
    font-size: 120%;
  }
