<div class="row h-100">

  <div class="col-12 col-lg-8 h-100">
    <app-forecast-chart #chart [forecastModelData]="models" [displaySettings]="displaySettings" [truthData]="truthData"
      [visibleModels]="visibleModels" [dataFilter]="dataFilter" (onForecastDateChanged)="changeForecastDate($event)">
    </app-forecast-chart>
  </div>

  <!-- <div class="col-12 col-lg-4 h-100">
    <div class="row">
      <div class="col">
        <h3>Forecastmodels</h3>
      </div>
      <div class="col-md-auto">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-secondary" (click)="changeModelVisibility([])">
            None
          </button>
          <button class="btn btn-secondary" (click)="changeModelVisibility(modelNames)">
            All
          </button>
          <button class="btn btn-secondary" (click)="changeModelVisibility(EnsembleModelNames)">
            Ensemble
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
            <li *ngFor="let modelSeries of models; trackBy: modelIdentity"
              [ngStyle]="{'opacity': (modelSeries.data && modelSeries.data.length > 0) ? 1 : .5}"
              (click)="toggleVisibility(modelSeries.model)" (mouseover)="chart.highlight(modelSeries.model)"
              (mouseout)="chart.stopHighlight()" class="list-group-item">
              <span class="dot" [ngClass]="{'font-weight-bold': isVisible(modelSeries.model)}"
                [ngStyle]="{'border-color': modelSeries.color, 'background-color': isVisible(modelSeries.model) ? modelSeries.color : 'white'}"></span>
              {{modelSeries.model}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="col-12 col-lg-4 h-100">
    <div class="row-container h-100">
      <div class="autosize-row h-100">
        <div class="row">
          <div class="col">
            <h3>Forecastmodels</h3>
          </div>
          <div class="col-md-auto">
            <!-- <label>
              Selection
              <fa-icon [icon]="icons.help" [title]="titles.selection">
              </fa-icon>
            </label> -->
            <div class="btn-group btn-group-sm">
              <button class="btn btn-secondary" (click)="changeModelVisibility([])">
                None
              </button>
              <button class="btn btn-secondary" (click)="changeModelVisibility(modelNames)">
                All
              </button>
              <button class="btn btn-secondary" (click)="changeModelVisibility(ensembleModelNames || [])">
                Ensemble
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="fill-row  h-100">
        <ul class="list-group list-group-flush">
          <!-- <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]"> -->
          <li *ngFor="let modelSeries of models; trackBy: modelIdentity"
            [ngStyle]="{'opacity': (modelSeries.data && modelSeries.data.length > 0) ? 1 : .5}"
            hoverClass="list-group-item-secondary"
            (click)="toggleVisibility(modelSeries.model)" (mouseover)="chart.highlight(modelSeries.model)"
            (mouseout)="chart.stopHighlight()" class="list-group-item model-list-item">
            <span class="dot" [ngClass]="{'font-weight-bold': isVisible(modelSeries.model)}"
              [ngStyle]="{'border-color': modelSeries.color, 'background-color': isVisible(modelSeries.model) ? modelSeries.color : 'white'}"></span>
            <span class="model-name">{{modelSeries.model}}</span>
          </li>
          <!-- </ng-container> -->
        </ul>
      </div>
    </div>
  </div>

</div>
