.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  border: solid 3px #bbb;
}

.model-list-item {
  > * {
    vertical-align: middle;
  }

  .dot {
    margin-right: 3px;
  }
}

.row-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.autosize-row {
  flex-shrink: 1;
  flex-basis: 0%;
}

.fill-row {
  flex-grow: 1;
  overflow: auto;
}
