<div class="row">
  <div class="col">
    <div class="row form-group">
      <label class="col-12 col-form-label">Location</label>
      <div class="col-12">
        <div ngbDropdown class="d-inline-block" container="body">
          <button class="btn btn-secondary" ngbDropdownToggle>{{location ? location.name : 'Select state'
            }}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let item of locationItems$ | async"
              [ngClass]="{'font-weight-bold': location === item}" (click)="changeLocation(item)">
              {{item.name}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <label class="col-12 col-form-label">
        Target
        <fa-icon [icon]="icons.help" [title]="titles.target"></fa-icon>
      </label>
      <div class="col-12">
        <div class="btn-group btn-group-toggle" ngbRadioGroup (ngModelChange)="changeForecastTarget($event)"
          [ngModel]="forecastTarget">
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="ForecastTargetEnum.Cases">Cases
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="ForecastTargetEnum.Death">
            Death
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row form-group">
      <label class="col-12 col-form-label">
        Prediction Interval
        <fa-icon [icon]="icons.help" [title]="titles.ci">
        </fa-icon>
      </label>
      <div class="col-12">
        <div class="btn-group btn-group-toggle" ngbRadioGroup (ngModelChange)="changeConfidenceInterval($event)"
          [ngModel]="confidenceInterval">
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="null"> None
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="QuantileTypeEnum.Q50"> 50%
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="QuantileTypeEnum.Q95"> 95%
          </label>
        </div>
      </div>
    </div>

    <div class="row form-group">

      <!-- <label class="col-xl-4 col-form-label label-text" title="Show forecast by" style="overflow: visible;">
          Show forecast by
          <fa-icon [icon]="icons.help" [ngbTooltip]="helpForecastBy"></fa-icon>
        </label> -->
      <label class="col-12 col-form-label">
        Show forecast by
        <fa-icon [icon]="icons.help" [title]="titles.displayMode"></fa-icon>
      </label>

      <div class="col-12">
        <div ngbRadioGroup class="btn-group btn-group-toggle" [ngModel]="displayMode.$type"
          (ngModelChange)="changeDisplayMode($event)">
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="ForecastByDateDisplayMode"> Date
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="ForecastByHorizonDisplayMode"> Horizon
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <ng-container *ngIf="displayMode.$type === 'ForecastByHorizonDisplayMode'">
      <div class="row form-group">
        <label class="col-12 col-form-label">Forecast horizon</label>
        <div class="col-12">
          <div class="btn-group btn-group-toggle" ngbRadioGroup
            (ngModelChange)="changeForecastByHorizonWeeksAhead($event)" [ngModel]="$any(displayMode).weeksAhead">
            <label ngbButtonLabel class="btn-secondary" title="1 Week">
              <input ngbButton type="radio" [value]="1"> 1 Wk
            </label>
            <label ngbButtonLabel class="btn-secondary" title="2 Weeks">
              <input ngbButton type="radio" [value]="2"> 2 Wks
            </label>
            <label ngbButtonLabel class="btn-secondary" title="3 Weeks">
              <input ngbButton type="radio" [value]="3"> 3 Wks
            </label>
            <label ngbButtonLabel class="btn-secondary" title="4 Weeks">
              <input ngbButton type="radio" [value]="4"> 4 Wks
            </label>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="displayMode.$type === 'ForecastByDateDisplayMode'">
      <div class="row form-group" *ngIf="displayMode.$type === 'ForecastByDateDisplayMode'">
        <label class="col-12 col-form-label" title="Forecast date">Forecast date</label>
        <div class="col-12">
          <div class="btn-toolbar">
            <div class="btn-group mr-1 mb-1">
              <button class="btn btn-secondary" [disabled]="!canExecPrev" (click)="changeForecastDateByDir('prev')">
                <fa-icon [icon]="icons.prev"></fa-icon>
              </button>
              <div ngbDropdown class="btn-group dropdown-forecast-date">
                <button class="btn btn-secondary" ngbDropdownToggle
                  [disabled]="forecastDateBeforePlay || forecastDatePlayer">{{$any(displayMode).forecastDate |
                  date}}</button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem *ngFor="let date of availableForecastDates"
                    [ngClass]="{'font-weight-bold': equalsCurrentForecastDate(date)}"
                    (click)="changeForecastDate(date)">{{date | date}}</button>
                </div>
              </div>
              <button class="btn btn-secondary" [disabled]="!canExecNext" (click)="changeForecastDateByDir('next')">
                <fa-icon [icon]="icons.next"></fa-icon>
              </button>
            </div>
            <div class="btn-group mb-1">
              <button class="btn btn-secondary" [disabled]="!canExecPlayPause" (click)="toogleAnimateForecastDate()">
                <fa-icon [icon]="forecastDateBeforePlay && forecastDatePlayer ? icons.pause : icons.play"></fa-icon>
              </button>
              <button class="btn btn-secondary" [disabled]="!forecastDateBeforePlay"
                (click)="stopAnimateForecastDate()">
                <fa-icon [icon]="icons.stop"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-12 col-form-label">
          Show forecast up to
          <fa-icon [icon]="icons.help" [title]="titles.displayModeByDateShowUpTo"></fa-icon>
        </label>

        <div class="col-12">
          <div class="btn-group btn-group-toggle" ngbRadioGroup
            (ngModelChange)="changeForecastByDateWeeksShown($event)" [ngModel]="$any(displayMode).weeksShown">
            <label ngbButtonLabel class="btn-secondary" title="1 Week">
              <input ngbButton type="radio" [value]="1"> 1 Wk
            </label>
            <label ngbButtonLabel class="btn-secondary" title="2 Weeks">
              <input ngbButton type="radio" [value]="2"> 2 Wks
            </label>
            <label ngbButtonLabel class="btn-secondary" title="3 Weeks">
              <input ngbButton type="radio" [value]="3"> 3 Wks
            </label>
            <label ngbButtonLabel class="btn-secondary" title="4 Weeks">
              <input ngbButton type="radio" [value]="4"> 4 Wks
            </label>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
