<mat-sidenav-container class="site-container" *ngIf="dataView$ | async as dataView">
  <mat-sidenav [(opened)]="startSideNavOpened" [mode]="(isDesktopWidth$ | async) ? 'side' : 'over'" (closedStart)="closeStartSideNav()" (openedStart)="openStartSideNav()">
    <div class="sidenav-start-container">
      <mat-toolbar class="settings-header">
        <mat-icon>filter_alt</mat-icon>
        <span>Data Selection</span>
        <div class="horizontal-flex-spacer"></div>
        <button mat-icon-button class="sidenav-start-toggle-button" (click)="closeStartSideNav()">
          <mat-icon>arrow_left</mat-icon>
        </button>
      </mat-toolbar>

      <mat-card class="target-card settings-card">
        <mat-card-title-group>
          <mat-icon>adjust</mat-icon>
          <mat-card-title>Target</mat-card-title>
          <mat-card-subtitle>Forecasts are available for confirmed cases and deaths from COVID-19</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <div class="target-card-container">
            <button mat-raised-button class="target-button"
              [color]="dataView.filter.target === ForecastTargetEnum.Cases ? 'primary' : 'basic'"
              (click)="changeTarget(ForecastTargetEnum.Cases)">{{ForecastTargetEnum.Cases | targetLabel}}</button>
            <button mat-raised-button class="target-button"
              [color]="dataView.filter.target === ForecastTargetEnum.Death ? 'primary' : 'basic'"
              (click)="changeTarget(ForecastTargetEnum.Death)">{{ForecastTargetEnum.Death | targetLabel}}</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="location-card settings-card">
        <mat-card-title-group>
          <mat-icon>location_on</mat-icon>
          <mat-card-title>Location</mat-card-title>
          <mat-card-subtitle>Forecasts are available for different locations. Select a country by clicking in the below
            map.</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content>
          <app-location-map [location]="dataView.filter.location" (onLocationChanged)="changeLocation($event)"
            [locationValues]="locationValueMap$ | async" [colorScaleHeader]="mapLegendHeader$ | async"
            [target]="dataView.filter.target">
          </app-location-map>
          <div class="location-select-map-overlay">
            <mat-form-field appereance="legacy">
              <mat-label>Current Location</mat-label>
              <mat-select [ngModel]="dataView.filter.location" (ngModelChange)="changeLocation($event)">
                <mat-option *ngFor="let location of locations$ | async" [value]="location">{{location.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav [(opened)]="endSideNavOpened" mode="side" position="end">
    <div class="sidenav-end-container" iframe-height-element>
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="isDisplaySettingOpened" class="mat-elevation-z0"
          (afterExpand)="forceResize()" (afterCollapse)="forceResize()">
          <mat-expansion-panel-header class="settings-header">
            <mat-panel-title>
              <mat-icon>settings</mat-icon> Display Settings
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="settings-card">
            <mat-card-title-group>
              <mat-card-title>Prediction Interval</mat-card-title>
              <mat-card-subtitle>Forecasts always come with some uncertainty. Forecasters are therefore asked to specify
                intervals which should cover the true value with 50% or 95% probability. Note that not all forecasters
                make such intervals available.</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <div class="ci-card-container">
                <button mat-raised-button class="ci-button"
                  [color]="dataView.displaySettings.confidenceInterval === undefined ? 'primary' : 'basic'"
                  (click)="changeConfidenceInterval(undefined)">None</button>
                <button mat-raised-button class="ci-button"
                  [color]="dataView.displaySettings.confidenceInterval === QuantileTypeEnum.Q50 ? 'primary' : 'basic'"
                  (click)="changeConfidenceInterval(QuantileTypeEnum.Q50)">50%</button>
                <button mat-raised-button class="ci-button"
                  [color]="dataView.displaySettings.confidenceInterval === QuantileTypeEnum.Q95 ? 'primary' : 'basic'"
                  (click)="changeConfidenceInterval(QuantileTypeEnum.Q95)">95%</button>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card class="settings-card displaymode-card">
            <mat-card-title-group>
              <mat-card-title>Display Mode</mat-card-title>
              <mat-card-subtitle>You can either look at one through four-week-ahead forecasts made at a specific time
                point or show all forecasts for a specific forecast horizon.</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <mat-tab-group
                [selectedIndex]="dataView.displaySettings.displayMode.$type === 'ForecastByHorizonDisplayMode' ? 1 : 0"
                (selectedTabChange)="changeDisplayMode($event.index === 1 ? 'ForecastByHorizonDisplayMode' : 'ForecastByDateDisplayMode')">
                <mat-tab label="Date">
                  <div class="tab-container"
                    *ngIf="dataView.displaySettings.displayMode.$type === 'ForecastByDateDisplayMode'">
                    <div class="tab-row">
                      <div class="label mat-typography">Forecast date</div>
                      <div class="input-control">
                        <div class="forward-backward-select">
                          <button mat-stroked-button
                            [disabled]="!canExecPrev(dataView.displaySettings.displayMode, dataView.availableDates)"
                            (click)="changeForecastDateByDir('prev', dataView.displaySettings.displayMode, dataView.availableDates)">
                            <mat-icon>navigate_before</mat-icon>
                          </button>
                          <div class="mat-select-wrapper">
                            <mat-select [value]="$any(dataView.displaySettings.displayMode).forecastDate"
                              [compareWith]="compareDates"
                              (selectionChange)="changeForecastDate($event.value, dataView.availableDates, dataView.displaySettings.displayMode)">
                              <mat-option *ngFor="let date of dataView.availableDates" [value]="date">
                                {{date | dateToPrevSaturday | date}}
                              </mat-option>
                            </mat-select>
                          </div>
                          <button mat-stroked-button
                            [disabled]="!canExecNext(dataView.displaySettings.displayMode, dataView.availableDates)"
                            (click)="changeForecastDateByDir('next', dataView.displaySettings.displayMode, dataView.availableDates)">
                            <mat-icon>navigate_next</mat-icon>
                          </button>
                        </div>
                      </div>
                      <span class="help-text">
                        <mat-icon>info</mat-icon> Change the forecast date by clicking into the chart
                      </span>
                    </div>

                    <div class="tab-row">
                      <div class="label mat-typography">
                        Weeks shown
                      </div>
                      <div class="input-control">
                        <mat-button-toggle-group [ngModel]="$any(dataView.displaySettings.displayMode).weeksShown"
                          (ngModelChange)="changeDateWeeksShown($event, dataView.displaySettings.displayMode)">
                          <mat-button-toggle *ngFor="let week of [1,2,3,4]" [value]="week">
                            {{week}} {{week === 1 ? 'Week' : 'Weeks'}}
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Horizon">
                  <div class="tab-container"
                    *ngIf="dataView.displaySettings.displayMode.$type === 'ForecastByHorizonDisplayMode'">
                    <div class="tab-row">
                      <div class="label">Weeks ahead</div>
                      <div class="input-control">
                        <mat-button-toggle-group [ngModel]="$any(dataView.displaySettings.displayMode).weeksAhead"
                          (ngModelChange)="changeHorizonWeeksAhead($event, dataView.displaySettings.displayMode)">
                          <mat-button-toggle *ngFor="let week of [1,2,3,4]" [value]="week">
                            {{week}} {{week === 1 ? 'Week' : 'Weeks'}}
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-toolbar class="settings-header forecast-settings-header">
        <mat-icon>show_chart</mat-icon>
        <span>Forecast Models</span>
        <button mat-raised-button style="margin-left: auto;" (click)="changeVisbileModels([])">None</button>
        <button mat-raised-button *ngIf="ensembleModelNames$ | async as ensembleModelNames" style="margin: 0 5px;"
          (click)="changeVisbileModels(ensembleModelNames)">Ensemble</button>
        <button mat-raised-button *ngIf="allModelNames$ | async as allModelNames"
          (click)="changeVisbileModels(allModelNames)">All</button>
      </mat-toolbar>
      <mat-card class="model-legend-card">
        <app-legend [models]="dataView.forecasts" [visibleModels]="visibleModels$ | async"
          (visibleModelsChanged)="changeVisibleModels($event)" (highlightModel)="chart.highlight($event)"
          (stopHighlightModel)="chart.stopHighlight()"></app-legend>
      </mat-card>
    </div>
  </mat-sidenav>

  <div class="main-content-container">
    <div class="sidenav-start-access" [ngClass]="{'hidden': startSideNavOpened}">
      <div class="sidenav-start-access-container">
        <button mat-icon-button class="access-button" (click)="openStartSideNav()">
          <mat-icon>arrow_right</mat-icon>
        </button>

        <mat-icon class="access-title-icon">adjust</mat-icon>
        <button mat-mini-fab title="Cases" class="access-button mat-elevation-z3"
          [color]="dataView.filter.target === ForecastTargetEnum.Cases ? 'primary' : 'basic'"
          (click)="changeTarget(ForecastTargetEnum.Cases)">C</button>
        <button mat-mini-fab title="Deaths" class="access-button mat-elevation-z3"
          [color]="dataView.filter.target === ForecastTargetEnum.Death ? 'primary' : 'basic'"
          (click)="changeTarget(ForecastTargetEnum.Death)">D</button>

        <mat-icon class="access-title-icon">location_on</mat-icon>
        <button mat-icon-button (click)="scrollUp()" [disabled]="locationScroller.top === 0" class="scroll-button">
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <div class="access-button-container" cdkScrollable #locationScroller="cdkScrollableExt" cdkScrollableExt>
          <button mat-mini-fab *ngFor="let location of locationsOrderedById$ | async" [title]="location.name"
            class="access-button mat-elevation-z3" [color]="dataView.filter.location === location ? 'primary' : 'basic'"
            (click)="changeLocation(location)">{{location.id}}</button>
        </div>
        <button mat-icon-button (click)="scrollDown()" class="scroll-button"
          [disabled]="locationScroller.top === locationScroller.topMax">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </div>
    <div class="chart-container">
      <div class="header">
        <mat-toolbar color="primary">
          <span>Forecasts &#183; {{dataView.filter.target | targetLabel}},
            {{dataView.filter.location.name}}</span>
          <span *ngIf="dataView.displaySettings.displayMode.$type === 'ForecastByDateDisplayMode'">
            &nbsp;&#183; issued on {{ $any(dataView.displaySettings.displayMode).forecastDate | date}}</span>
        </mat-toolbar>
      </div>
      <div class="chart">
        <app-forecast-chart #chart [dataView]="dataView" [visibleModels]="visibleModels$ | async"
          (onForecastDateChanged)="changeForecastDate($event, dataView.availableDates, dataView.displaySettings.displayMode)">
        </app-forecast-chart>
      </div>
    </div>
  </div>
</mat-sidenav-container>

<!-- <div class="loading-spinner-container" *ngIf="isLoadingForecast || isLoadingTruth">
  <app-loading-spinner></app-loading-spinner>
</div> -->
