@import '~@angular/material/theming';
@include mat-core();

$bootstrap-blue-palette: (
  50 : #e0e7f0,
  100 : #b3c4d9,
  200 : #809dc0,
  300 : #4d75a6,
  400 : #265893,
  500 : #003a80,
  600 : #003478,
  700 : #002c6d,
  800 : #002563,
  900 : #001850,
  A100 : #839cff,
  A200 : #5073ff,
  A400 : #1d4bff,
  A700 : #0336ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$my-app-primary: mat-palette($bootstrap-blue-palette);
$my-app-accent:  mat-palette($mat-pink);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
